body, html {
    height: 100%;
   width: 100%;
   margin: 0%;
}
#logo{
    height: 60px;
    width: 60px;
}
#body{
    background-color: #e0e0e0;
    }
.Fimg{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}
.simg{
    height: 20px;
    width: 20px;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
#form1{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
#front{
    margin-left: 13.5%;
}
#last{
    margin-right: 13.5%;
}
