body, html {
    height: 100%;
   width: 100%;
   margin: 0%;
}
#logo{
    height: 60px;
    width: 60px;
}
.simg{
    height: 20px;
    width: 20px;
}
.listimg{
    height: 200px;
    width: 250px;
    background-color:rgb(132,136,139) ;
}
#body{
    background-color: #e0e0e0;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
.red{
    background-color: rgb(132,136,139);
    width: 40%;
    margin: 2%;
}